<div class="page-header">
    <h1>
        <small>Practitioner</small>
        {{ practitioner.getName() }} {{ practitioner.getSurname() }}
    </h1>
</div>
{% from "clinic/generic/appointment/table" import table %}
{% from "clinic/generic/tag-templates" import panelDefault as panel %}

{{ panel( 'Appointments',  table( practitioner.getAppointments() ) ) }}