{% set title = 'Appointments List' %}
{% do headTitle(title) %}
{% from "clinic/generic/appointment/table" import table %}
{% from "clinic/generic/tag-templates" import panelDefault as panel %}
<div class="page-header">
    <h1>Appointments List</h1>
</div>
{{ panel( "Today's Confirmed appointments", table( appointments.getToday() ) ) }}
{{ panel( "Unconfirmed appointments", table( appointments.getUnconfirmed() ) ) }}
{{ panel( "Missed appointments", table( appointments.getMissed() ) ) }}
{{ panel( "Visited appointments", table( appointments.getVisited() ) ) }}